/* start reset*/
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  text-decoration: none;
}

input,
input:focus,
textarea,
textarea:focus,
select,
select:focus {
  box-shadow: unset;
  outline: unset;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3.6rem;
  line-height: 4.6rem;
  font-weight: 700;
}

h2 {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 400;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

/* end reset */
/* start Header */
header {
  background-color: transparent;
  padding: 0.5rem 0;
}

.container {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .brend {
  margin-left: 10rem;
}

.dropdown {
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 2rem;
  color: black;
}

.font {
  font-size: 2rem;
}

.dropdown:hover {
  background-color: blue;
  box-shadow: black 2px 2px 5px;
  /* color: #ffffff; */
}

.headname {
  font-family: "Mr De Haviland", cursive;
  font-weight: 400;
  font-size: 7rem;
  display: block;
  margin: 5rem 1rem;
}

.headocup {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 2rem;
  display: block;
}

@media (max-width: 1024px) {
  .container {
    max-width: 100rem;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .container .brend {
    margin-left: 0;
  }

  .dropdown {
    font-size: 1.7rem;
  }

  .font {
    font-size: 1.7rem;
  }

  .headname {
    font-size: 7rem;
    margin: 4rem 0.5rem;
    color: #535353;
  }

  .headocup {
    font-size: 1.7rem;
    color: #535353;
  }
}
/* end header */
.container1 {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  margin-top: 14.6rem;
}

body.homePage {
  background-image: url(../img/home.png);
  background-position: top;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* start Grid */
.parent {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30rem;
}

.childGol {
  width: 84px;
  height: 84px;
  margin: 10px;
  border-radius: 7px;
}

.child {
  width: 84px;
  height: 84px;
  margin: 1rem;
  border-radius: 7px;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 7px #1d1d1d;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
  cursor: pointer;
  transition: all 0.3s;
}

.childImg img {
  position: relative;
  width: 84px;
  height: 84px;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 7px;
  margin: 10px;
}

.parent .unuA {
  background-color: #74eaee;
}
.parent .unuA:hover {
  background-color: #d17bd1;
}

.parent .doi {
  background-color: #1e0bc8;
}
.parent .doi:hover {
  background-color: #5252dd;
}

.parent .trei {
  background-color: #6de0e0;
}
.parent .trei:hover {
  background-color: #3cd355;
}

.parent .patru {
  background-color: #7d9090;
}
.parent .patru:hover {
  background-color: #0d0e0d;
}

.parent .cinci {
  background-color: #b9f0f0;
}
.parent .cinci:hover {
  background-color: #20622b;
}

.parent .sase {
  background-color: #637777;
}
.parent .sase:hover {
  background-color: #c31914;
}

.parent .sapte {
  background-color: #2e7c7c;
}
.parent .sapte:hover {
  background-color: #94c314;
}

.parent .opt {
  background-color: #637777;
}
.parent .opt:hover {
  background-color: #c31914;
}

.parent .noua {
  background-color: #001313;
}
.parent .noua:hover {
  background-color: #e7eb1c;
}

.parent .zece {
  background-color: #0011ff;
}
.parent .zece:hover {
  background-color: #e0dada;
}

.parent .unuUnu {
  background-color: #30f5f5;
}
.parent .unuUnu:hover {
  background-color: #020202;
}

.parent .unuDoi {
  background-color: #262727;
}
.parent .unuDoi:hover {
  background-color: #027ef1;
}

.parent .unuTrei {
  background-color: #f8f8f8;
}
.parent .unuTrei:hover {
  background-color: #3d1917;
}

.parent .unuPatru {
  background-color: #07dffc;
}
.parent .unuPatru:hover {
  background-color: #d4eb0c;
}

.parent .unuCinci {
  background-color: rgba(14, 0, 207, 0.739);
}
.parent .unuCinci:hover {
  background-color: rgba(126, 189, 9, 0.397);
}

.parent .unuSase {
  background-color: rgba(166, 243, 248, 0.705);
}
.parent .unuSase:hover {
  background-color: rgba(36, 9, 189, 0.397);
}

.parent .unuSapte {
  background-color: black;
}
.parent .unuSapte:hover {
  background-color: rgba(218, 105, 30, 0.397);
}

.parent .unuOpt {
  background-color: #0831e6;
}
.parent .unuOpt:hover {
  background-color: red;
}

.parent .unuNoua {
  background-color: rgba(61, 63, 216, 0.979);
}
.parent .unuNoua:hover {
  background-color: rgba(71, 71, 71, 0.397);
}

.parent .doiZero {
  background-color: #23c3f3;
}
.parent .doiZero:hover {
  background-color: rgba(30, 218, 71, 0.842);
}

.parent .doiUnu {
  background-color: #161812;
}
.parent .doiUnu:hover {
  background-color: #b5b6ac;
}

.parent .doiDoi {
  background-color: #36f0e6;
}
.parent .doiDoi:hover {
  background-color: rgba(190, 218, 30, 0.842);
}

.parent .doiTrei {
  background-color: #0400eb;
}
.parent .doiTrei:hover {
  background-color: #966262;
}

.parent .doiPatru {
  background-color: rgba(0, 0, 0, 0.226);
}
.parent .doiPatru:hover {
  background-color: rgba(20, 247, 255, 0.336);
}

.parent .doiCini {
  background-color: #78fcd0;
}
.parent .doiCini:hover {
  background-color: rgba(35, 11, 247, 0.842);
}

.parent .doiSase {
  background-color: #0cd5e4;
}
.parent .doiSase:hover {
  background-color: rgba(30, 196, 218, 0.842);
}

.parent .doiSapte {
  background-color: #2422a1;
}
.parent .doiSapte:hover {
  background-color: rgba(25, 143, 197, 0.842);
}

.parent .doiOpt {
  background-color: #03546d;
}
.parent .doiOpt:hover {
  background-color: rgba(32, 18, 228, 0.842);
}

.parent .doiNoua {
  background-color: #001aff;
}
.parent .doiNoua:hover {
  background-color: rgba(0, 255, 55, 0.842);
}

.parent .treiZero {
  background-color: #0ef7ff;
}
.parent .treiZero:hover {
  background-color: rgba(0, 17, 255, 0.842);
}

.parent .treiUnu {
  background-color: #030a72;
}
.parent .treiUnu:hover {
  background-color: rgba(255, 0, 212, 0.842);
}

.parent .treiDoi {
  background-color: #0c92bb;
}
.parent .treiDoi:hover {
  background-color: rgba(0, 17, 255, 0.144);
}

@media (max-width: 1024px) {
  .parent {
    margin-left: 20rem;
  }

  .childGol {
    width: 64px;
    height: 64px;
    margin: 10px;
  }

  .child {
    width: 64px;
    height: 64px;
  }

  .childImg img {
    width: 64px;
    height: 64px;
  }
}
/* End Grid */
/* Start Footer */
footer {
  box-shadow: 0px -8px 21px -4px rgba(0, 0, 0, 0.43);
  border-radius: 7px;
  background-color: rgba(212, 214, 183, 0.644);
}
footer .container1 {
  font-size: 2rem;
  height: 17rem;
  margin-top: 24rem;
  padding-top: 2rem;
}
footer .icoana {
  border-radius: 50%;
  width: 3.3rem;
  background-color: aquamarine;
  text-align: center;
  margin-bottom: 2rem;
}

/* End footer */
/* start Logo */
.logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 150rem;
  position: relative;
}

.contactLogo {
  position: fixed;
  bottom: 10px;
  left: 77%;
  width: 10rem;
  height: 3.5rem;
  border: 1px solid black;
  border-radius: 20px;
  background-color: cadetblue;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 10px #888888;
}
.contactLogo a {
  direction: unset;
  text-decoration: unset;
}

/* end Logo */
/*Start Ceruza Rajzok*/
.ceruza {
  background-image: url("../img/exhibs.png");
  background-repeat: space;
  background-position: top;
  background-position: left;
}
.ceruza .containerRajz {
  width: 90rem;
  margin: 0 auto;
  margin-top: 15rem;
}

@media (max-width: 1024px) {
  .containerRajz {
    max-width: 70rem;
  }
}
@media (max-width: 768px) {
  .containerRajz {
    max-width: 50rem;
  }
}
/*End Ceruza Rajzok*/
/* Start Contact Page*/
.contactPage {
  background-image: url(../img/draws.png);
  background-position: top;
  background-repeat: no-repeat;
  width: 120rem;
  margin: 0 auto;
}
.contactPage .containerContact {
  margin-top: 45rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}
.contactPage .containerContact .textContact {
  color: #0a698f;
  display: flex;
  flex-direction: column;
}
.contactPage .containerContact .textContact .text1 {
  color: black;
  font-size: 9rem;
  position: relative;
  top: 29%;
  font-family: "Train One", cursive;
}
.contactPage .containerContact .textContact .text1 .oLiter {
  color: white;
}
.contactPage .containerContact .textContact .text2 {
  position: relative;
  top: 100%;
  left: 200px;
  color: darkcyan;
}
.contactPage .containerContact .inputContact {
  font-size: 1.7rem;
}
.contactPage .containerContact .inputContact p {
  margin-top: 6px;
}
.contactPage .containerContact .sendButton {
  border: 1px solid black;
  border-radius: 7px;
  position: relative;
  margin-top: 15px;
  left: 80%;
  padding: 6px;
  cursor: pointer;
  width: 13rem;
  height: 12rem;
  text-align: center;
  background-color: #15dfe6;
  color: cornsilk;
}

@media (max-width: 1024px) {
  .contactPage {
    background-image: url(../img/draws1024.jpg);
    width: 100rem;
    height: 100rem;
    overflow-x: hidden;
  }
  .contactPage .containerContact {
    margin-top: 35rem;
    flex-direction: column;
  }
  .contactPage .containerContact .textContact {
    flex-direction: column;
  }
  .contactPage .containerContact .textContact .text1 {
    font-size: 7rem;
    top: 19%;
    text-align: center;
  }
  .contactPage .containerContact .textContact .text1 .oLiter {
    color: #dfd9c0;
  }
  .contactPage .containerContact .textContact .text2 {
    display: none;
  }
  .contactPage .containerContact .inputContact {
    margin: 0 auto;
    font-size: 1rem;
  }
  .contactPage .containerContact .inputContact p {
    margin-top: 6px;
  }
  .contactPage .containerContact .sendButton {
    position: static;
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .contactPage {
    background-image: url(../img/draws768.jpg);
    width: 70rem;
    height: 70rem;
    overflow-x: hidden;
  }
  .contactPage .containerContact {
    margin-top: 25rem;
    flex-direction: column;
  }
  .contactPage .containerContact .textContact {
    flex-direction: column;
  }
  .contactPage .containerContact .textContact .text1 {
    font-size: 7rem;
    top: 19%;
    text-align: center;
  }
  .contactPage .containerContact .textContact .text1 .oLiter {
    color: #dfd9c0;
  }
  .contactPage .containerContact .textContact .text2 {
    display: none;
  }
  .contactPage .containerContact .inputContact {
    margin: 0 auto;
    font-size: 1rem;
  }
  .contactPage .containerContact .inputContact p {
    margin-top: 6px;
  }
  .contactPage .containerContact .sendButton {
    position: static;
    margin-left: 40px;
  }
}
/* End Contact Page*/
/* Start Anima page */
.anima {
  background-image: url(../img/cupon.png);
  background-position: top;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.vparinte {
  margin-top: 15rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.vparinte .vcild {
  width: 24rem;
  height: 22rem;
  border-style: double;
  border-radius: 5px;
  background-color: black;
  box-shadow: 2px 2px 7px #1d1d1d, 5px 5px 10px #1d1d1d;
  margin: 50px;
  padding: 5px;
}

@media (max-width: 1024px) {
  .vparinte .vcild {
    width: 21rem;
    height: 18rem;
    margin: 20px;
  }
  .vparinte iframe {
    width: 190px;
    height: 170px;
  }
}
@media (max-width: 768px) {
  .vparinte {
    margin-left: 50px;
    margin-top: 110px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  .vparinte .vcild {
    width: 17rem;
    height: 14rem;
  }
  .vparinte iframe {
    width: 150px;
    height: 130px;
  }
}
/* End Anima page */
/*Start ArtFilm*/
.artfilm {
  background-image: url(../img/retus.png);
  background-position: top;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.artParent {
  height: 85rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.artParent .artCild {
  position: absolute;
  top: 30px;
  left: 30px;
}
.artParent .artCild1 {
  position: absolute;
  top: 10rem;
}
.artParent .artCild2 {
  position: absolute;
  top: 25rem;
  right: 30px;
}
.artParent .artCild3 {
  position: absolute;
  top: 45rem;
}
.artParent .artCild4 {
  position: absolute;
  top: 55rem;
  left: 30px;
}

.artParent1 {
  height: 95rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.artParent1 .artCild5 {
  position: absolute;
  top: 3rem;
  left: 30px;
}
.artParent1 .artCild6 {
  position: absolute;
  top: 15rem;
}
.artParent1 .artCild7 {
  position: absolute;
  top: 30rem;
  right: 30px;
}
.artParent1 .artCild8 {
  position: absolute;
  top: 50rem;
}
.artParent1 .artCild9 {
  position: absolute;
  top: 65rem;
  left: 30px;
}

.artParent2 {
  height: 45rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.artParent2 .artCild10 {
  position: absolute;
  top: 3rem;
  left: 30px;
}
.artParent2 .artCild11 {
  position: absolute;
  top: 15rem;
}
.artParent2 .artCild12 {
  position: absolute;
  top: 30rem;
  right: 30px;
}

iframe {
  box-shadow: 5px 5px 10px black, 2px 2px 7px black;
}

/*End ArtFilm*/
@media (max-width: 1024px) {
  .container1 {
    max-width: 100rem;
    margin-top: 10rem;
  }
}
@media (max-width: 768px) {
  .container1 {
    max-width: 70rem;
    margin-top: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
