/* Start Anima page */

.anima {
  background-image: url(../img/cupon.png);
  background-position: top;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* End Anima page */
