/*Start ArtFilm*/

.artfilm {
  background-image: url(../img/retus.png);
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
.artParent {
  height: 85rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .artCild {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .artCild1 {
    position: absolute;
    top: 10rem;
  }
  .artCild2 {
    position: absolute;
    top: 25rem;
    right: 30px;
  }
  .artCild3 {
    position: absolute;
    top: 45rem;
  }
  .artCild4 {
    position: absolute;
    top: 55rem;
    left: 30px;
  }
}
.artParent1 {
  height: 95rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .artCild5 {
    position: absolute;
    top: 3rem;
    left: 30px;
  }
  .artCild6 {
    position: absolute;
    top: 15rem;
  }
  .artCild7 {
    position: absolute;
    top: 30rem;
    right: 30px;
  }
  .artCild8 {
    position: absolute;
    top: 50rem;
  }
  .artCild9 {
    position: absolute;
    top: 65rem;
    left: 30px;
  }
}
.artParent2 {
  height: 45rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  .artCild10 {
    position: absolute;
    top: 3rem;
    left: 30px;
  }
  .artCild11 {
    position: absolute;
    top: 15rem;
  }
  .artCild12 {
    position: absolute;
    top: 30rem;
    right: 30px;
  }
}
iframe {
  box-shadow: 5px 5px 10px black, 2px 2px 7px black;
}

@media (max-width: 1024px) {
  .artParent {
    .artCild,
    .artCild1,
    .artCild2,
    .artCild3,
    .artCild4 {
      width: 21rem;
      height: 18rem;
      margin: 20px;
    }
    iframe {
      width: 190px;
      height: 170px;
    }
  }
}
@media (max-width: 768px) {
  .artParent {
    padding-top: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .artCild,
    .artCild1,
    .artCild2,
    .artCild3,
    .artCild4 {
      width: 17rem;
      height: 14rem;
      position: static;
      display: flex;
      flex: 1;
      padding-top: 10px;
    }

    iframe {
      width: 150px;
      height: 130px;
    }
  }
}

@media (max-width: 1024px) {
  .artParent1 {
    .artCild5,
    .artCild6,
    .artCild7,
    .artCild8,
    .artCild9 {
      width: 21rem;
      height: 18rem;
      margin: 20px;
    }
    iframe {
      width: 190px;
      height: 170px;
    }
  }
}
@media (max-width: 768px) {
  .artParent1 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .artCild5,
    .artCild6,
    .artCild7,
    .artCild8,
    .artCild9 {
      width: 17rem;
      height: 14rem;
      position: static;
      display: flex;
      flex: 1;
      padding-top: 10px;
    }
    iframe {
      width: 150px;
      height: 130px;
    }
  }
}

@media (max-width: 1024px) {
  .artParent2 {
    .artCild10,
    .artCild11,
    .artCild12 {
      width: 21rem;
      height: 18rem;
      margin: 20px;
    }
    iframe {
      width: 190px;
      height: 170px;
    }
  }
}
@media (max-width: 768px) {
  .artParent2 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .artCild10,
    .artCild11,
    .artCild12 {
      width: 17rem;
      height: 14rem;
      position: static;
      display: block;

      padding-top: 10px;
    }

    iframe {
      width: 150px;
      height: 130px;
    }
  }
}

/*End ArtFilm*/
