/*Start Ceruza Rajzok*/

.ceruza {
  background-image: url("../img/exhibs.png");
  background-repeat: no-repeat;
  background-position: left;
  min-height: 140rem;

  .containerRajz {
    height: 100rem;
    width: 80rem;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 15rem;
  }
}
/*End Ceruza Rajzok*/
