/*Start Ceruza Rajzok*/

.ceruza {
  background-image: url("../img/exhibs.png");
  background-repeat: space;
  background-position: top;
  background-position: left;
  min-height: 140rem;

  .containerRajz {
    width: 80rem;
    margin: 0 auto;
    margin-top: 15rem;
  }
}
/*End Ceruza Rajzok*/
