/*Start Ceruza Rajzok*/

.ceruza {
  background-image: url("../img/exhibs.png");
  background-repeat: space;
  background-position: top;
  background-position: left;

  .containerRajz {
    width: 90rem;
    margin: 0 auto;
    margin-top: 15rem;
  }
}

@media (max-width: 1024px) {
  .containerRajz {
    max-width: 70rem;
  }
}

@media (max-width: 768px) {
  .containerRajz {
    max-width: 50rem;
  }
}

/*End Ceruza Rajzok*/
