.contactPage {
  background-image: url(../img/draws.png);
  background-position: top;
  background-repeat: no-repeat;
  width: 120rem;
  height: 120rem;
  margin: 0 auto;
  .containerContact {
    margin-top: 45rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    .textContact {
      color: rgb(10, 105, 143);
      display: flex;
      flex-direction: column;
      .text1 {
        color: black;
        font-size: 9rem;
        position: relative;
        top: 29%;
        font-family: "Train One", cursive;
        .oLiter {
          color: white;
        }
      }
      .text2 {
        position: relative;
        top: 110%;
        left: 200px;
        color: darkcyan;
      }
    }
    .inputContact {
      font-size: 1.7rem;
      p {
        margin-top: 6px;
        input {
          border-radius: 5px;
          border: 2px solid black;
        }
      }
    }
    .sendButton {
      border: 1px solid black;
      border-radius: 7px;
      position: relative;
      left: 83%;
      padding: 6px;
      cursor: pointer;
      width: 13rem;
      height: 12rem;
      text-align: center;
      background-color: rgb(21, 223, 230);
      color: cornsilk;
    }
  }
}

@media (max-width:768px){
    
}