/* Start Contact Page*/
.contactPage {
  background-image: url(../img/draws.png);
  background-position: top;
  background-repeat: no-repeat;
  width: 120rem;
  margin: 0 auto;
  .containerContact {
    margin-top: 45rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    .textContact {
      color: rgb(10, 105, 143);
      display: flex;
      flex-direction: column;
      .text1 {
        color: black;
        font-size: 9rem;
        position: relative;
        top: 29%;
        font-family: "Train One", cursive;
        .oLiter {
          color: white;
        }
      }
      .text2 {
        position: relative;
        top: 100%;
        left: 200px;
        color: darkcyan;
      }
    }
    .inputContact {
      font-size: 1.7rem;
      p {
        margin-top: 6px;
      }
    }
    .sendButton {
      border: 1px solid black;
      border-radius: 7px;
      position: relative;
      margin-top: 15px;
      left: 80%;
      padding: 6px;
      cursor: pointer;
      width: 13rem;
      height: 12rem;
      text-align: center;
      background-color: rgb(21, 223, 230);
      color: cornsilk;
    }
  }
}

@media (max-width: 1024px) {
  .contactPage {
    background-image: url(../img/draws1024.jpg);
    width: 100rem;
    height: 100rem;
    overflow-x: hidden;
    .containerContact {
      margin-top: 35rem;
      flex-direction: column;

      .textContact {
        flex-direction: column;
        .text1 {
          font-size: 7rem;
          top: 19%;
          text-align: center;
          .oLiter {
            color: rgb(223, 217, 192);
          }
        }
        .text2 {
          display: none;
        }
      }
      .inputContact {
        margin: 0 auto;
        font-size: 1rem;
        p {
          margin-top: 6px;
        }
      }
      .sendButton {
        position: static;
        margin-left: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  .contactPage {
    background-image: url(../img/draws768.jpg);
    width: 70rem;
    height: 70rem;
    overflow-x: hidden;
    .containerContact {
      margin-top: 25rem;
      flex-direction: column;

      .textContact {
        flex-direction: column;
        .text1 {
          font-size: 7rem;
          top: 19%;
          text-align: center;
          .oLiter {
            color: rgb(223, 217, 192);
          }
        }
        .text2 {
          display: none;
        }
      }
      .inputContact {
        margin: 0 auto;
        font-size: 1rem;
        p {
          margin-top: 6px;
        }
      }
      .sendButton {
        position: static;
        margin-left: 40px;
      }
    }
  }
}
/* End Contact Page*/
