/* Start Festmenyek page */

.festmeny {
  background-image: url("../img/labels.png");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1ac6ff;
}

/* End Festmenyek page */
