/* Start Footer */

footer {
  box-shadow: 0px -8px 21px -4px rgba(0, 0, 0, 0.43);
  border-radius: 7px;
  background-color: rgba(212, 214, 183, 0.644);
  .container1 {
    font-size: 2rem;
    height: 17rem;
    margin-top: 24rem;
    padding-top: 2rem;
  }
  .icoana {
    border-radius: 50%;
    width: 3.3rem;

    background-color: aquamarine;
    text-align: center;
    margin-bottom: 2rem;
  }
}
/* End footer */
