/* Start Pasion page */

.pasion {
  background-image: url(../img/adverts.png);
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #e6f9ff;
}

.containerPasin {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  padding-top: 24rem;
}

/* End Pasion page */
