/* Start Photo page */

.containerPhoto {
  background-image: url(../img/photo.png);
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* End Photo page */
