@import "reset";
@import "header";

.container1 {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  padding-top: 14.6rem;
}

body.homePage {
  background-image: url(../img/home.png);
  background-position: top;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

@import "grid";
@import "footer";
@import "logo";
@import "ceruzaRajzok";
@import "contact";
@import "anima";
@import "artfilm";
@import "photo";
@import "festmenyek";
@import "pasion";

@media (max-width: 1024px) {
  .container1 {
    max-width: 100rem;
    margin-top: 10rem;
  }
}
@media (max-width: 768px) {
  .container1 {
    max-width: 70rem;
    margin-top: 3rem;
  }
}
